page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  background-color: #eee;
}

.calculator {

  --button-width: 22vw;
  --button-height: 22vw;
  
  display: grid;
  grid-template-areas: "viewer viewer viewer viewer"
    "ac plus-minus percent divide"
    "number-7 number-8 number-9 multiply"
    "number-4 number-5 number-6 subtract"
    "number-1 number-2 number-3 add"
    "number-0 number-0 dot equal";
  grid-template-columns: repeat(4, var(--button-width));
  grid-template-rows: repeat(6, var(--button-height));
  padding: 50px;
  padding-bottom: 70px;
  border-radius: 20px;
}

.calculator button {
  margin: 12px;
  padding: 0;
  border: 0;
  display: block;
  outline: none;
  line-height: 140px;
  border-radius: calc(var(--button-height) / 2);
  font-size: 30px;
  font-family: Helvetica;
  font-weight: normal;
  color: #999;
  background: linear-gradient(135deg, rgba(230, 230, 230, 1) 0%, rgba(246, 246, 246, 1) 100%);
  // box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1), 4px 4px 10px -8px rgba(0, 0, 0, .3);
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 0, 0, .3);
  cursor: pointer;
}
button::after {
  border: none
}

.calculator button:active {
  // box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset, 4px 4px 10px -8px rgba(0, 0, 0, .3) inset;
  box-shadow: -10px -10px 24px -20px rgba(255, 255, 255, 1) inset, 10px 10px 14px -20px rgba(0, 0, 0, .3) inset;
}
.viewer {
  padding: 0 20px;
  line-height: var(--button-height);
  font-size: 90px;
  text-align: right;
  font-family: Helvetica;
  color: #666;
  overflow: hidden;
}